<div class="col-sm-6">
    <h4>Forge</h4>

    <div class="row">
        <button type="button" class="btn btn-default">Build Weapon - 60 <img width="22px" src="{{ asset('images/gold.png') }}"></button>
        <button type="button" disabled class="btn btn-default">Build Shield - 50 <img width="22px" src="{{ asset('images/gold.png') }}"></button>
        <button type="button" disabled class="btn btn-default">Build Armor - 200 <img width="22px" src="{{ asset('images/gold.png') }}"></button>
    </div>
    <div class="row">
        <h5>Sword progress</h5>

        <img width="100%" src="{{ asset('images/' ~ weapon_marking ~'.png') }}">
    </div>
    <div class="row">
        <h5>Shield progress</h5>
    </div>
    <div class="row">
        <h5>Iron Armor progress</h5>
    </div>
</div>